
<%= simple_form_for(@patient) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :full_name %>
    <%= f.input :identification_number %>
    <%= f.input :date_of_birth %>
    <%= f.input :birth_place %>
    <%= f.input :gender %>
    <%= f.input :marital_status %>
    <%= f.input :country %>
    <%= f.input :religion %>
    <%= f.input :work %>
    <%= f.input :phone_number %>
    <%= f.input :email %>
    <%= f.input :address %>
    <%= f.input :medical_history %>
    <%= f.input :allergies %>
    <%= f.input :current_medications %>
    <%= f.input :known_medical_conditions %>
    <%= f.input :insurance_provider %>
    <%= f.input :policy_number %>
    <%= f.input :emergency_contact_number %>
    <%= f.input :emergency_name %>
    <%= f.input :last_visit %>
    <%= f.input :payment_records %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
