<p style="color: green"><%= notice %></p>

<h2 style="text-align: center;">Patients</h2>

<div style="margin-left: 10px;">

  <%= link_to "New patient", new_patient_path, class: "btn btn-primary" %>

</div>

<div id="patients">
  <% @patients.each do |patient| %>
    <div class="patient-container">
      <div>
        <strong>Full name:</strong>
        <%= patient.full_name %>
      </div>

      <div>
        <strong>ID</strong>
        <%= patient.identification_number %>
      </div>


      <div>
        <strong>Country:</strong>
        <%= patient.country %>
      </div>

      <div>
        <strong>Phone number:</strong>
        <%= patient.phone_number %>
      </div>

      <div>
        <%= link_to "Show this patient", patient, class: "btn btn-primary", style: "padding-bottom: 0px;padding-top: 0px;" %>
      </div>
    </div>
  <% end %>
</div>
